.create-order-logistic {
  padding: 30px 12px;
}
.create-order-logistic__form {
  .space-top {
    margin-top: 40px;
  }
}
.create-order-logistic__tab-select {
  margin: 4px 18px;
  cursor: pointer;
  &.active {
    font-weight: bold;
    color: #009247;
    text-decoration: underline;
    opacity: 1;
  }
}

.logistic-routing__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img { max-width: 46px }
}
.logistic-routing__days-cost {
  width: 100px;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (min-width: 33.75em) {
    width: 140px;
  }
  @media screen and (min-width: 50em) {
    width: 180px;
  }
}
.logistic-routing__days { color: #aaaaaa; }

.create-order-logistic__price-badges {
  background-color: white;
  padding: 6px;
  .inline-field__col {
    padding: 6px;
  }
  .inline-field__col--right {
    border-left: 1px solid #cecece;
  }
}
.create-order-logistic__final-price,
.create-order-logistic__price-mask input {
    text-align: center;
    font-size: 1rem;
    color: #333333;
    font-weight: bold;
    line-height: 30px;
}
.create-order-logistic__price-mask {
  input {
    border: 0;
    box-shadow: none;
    height: 30px;
    &:focus,
    &:hover {
      box-shadow: none;
    }
  }
}

.create-order-logistic__price-badges--override {
  .create-order-logistic__price-mask,
  .create-order-logistic__final-price {
    background-color: #333333;
    color: #ffffff;
  }
}