body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.child-center {
  justify-content: center;
  display: flex;
}
.ant-row {
  width: 100%;
}
.text-center {
  text-align: center;
}
.display-grid {
  display: grid;
}