.forgot-password-pop {
  text-align: center;
}
.forgot-password-pop__label {
  padding: 12px 0;
  align-items: center;
  > div {
    width: 80%;
  }
  > span { margin: 0; margin-right: 8px }
}
.forgot-password-pop__button {
  margin: 12px auto;
}