.loading-indicator {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 111;
  visibility: hidden;
}
.loading-indicator--show,
.loading-indicator-mini.loading-indicator-mini--show,
.loading-indicator-very-mini.loading-indicator-very-mini--show
{
  visibility: visible;
}

.loading-indicator__outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}
.loading-indicator__inner {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: white;*/
  border-radius: 8px;
  padding-bottom: 20px;
}

.loading-indicator__img {
  width: 160px;
  height: 160px;
}

.loading-indicator__text {
  color: #00b0e8;
}

/* MINI VERSION */
.loading-indicator-mini {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  visibility: hidden;
}
.loading-indicator-mini--right-overlay {
  position: absolute;
  right: 5px;
  top: 5px;
  background: rgba(255, 255, 255, 0.6);
}
.loading-indicator-mini__img {
  height: 40px;
  margin-right: 8px;
}
.loading-indicator-mini__text {
  font-size: 0.6rem;
  color: #3d3d3d;
}

.loading-indicator-very-mini {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  visibility: hidden;
}
.loading-indicator-very-mini--right-overlay {
  position: absolute;
  right: 5px;
  top: 5px;
  background: rgba(255, 255, 255, 0.6);
}
.loading-indicator-very-mini__img {
  height: 20px;
  margin-right: 8px;
}
.loading-indicator-very-mini__text {
  font-size: 0.6rem;
  color: #3d3d3d;
}

/* INLINE VERSION */
.loading-indicator-inline {
  height: 100px;
  display: none;
  align-items: center;
  justify-content: center;
}
.loading-indicator-inline--show {
  display: flex;
}
.loading-indicator-inline__img {
  height: 100px;
}
.loading-indicator-inline__text {
  font-size: 0.8rem;
  color: #3d3d3d;
}